<div class="col-lg-6">
    <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" class="">FIFA 16</a>
              </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true">
              <div class="panel-body">
                  <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-lg-3">Conquista</th>
                        <th class="col-lg-9">Descrição</th>
                        <th class="col-lg-2">Ponto</th>
                        <th class="col-lg-">Feito</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ceifador</td>
                        <td>Matar 20 oponentes sem morrer</td>
                        <td>100</td>
                        <td>OK</td>
                    </tr>
                </tbody>
            </table>
              </div>
          </div>
      </div>
      </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
