<div class="col-lg-6">
    <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">Uncharted 4: A Thief's End</a>
              </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
              <div class="panel-body">
                  <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-lg-3">Conquista</th>
                        <th class="col-lg-9">Descrição</th>
                        <th class="col-lg-2">Ponto</th>
                        <th class="col-lg-">Feito</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Uma ultima vez</td>
                        <td>Colete todos os troféus</td>
                        <td>30</td>
                        <td>OK</td>
                    </tr>                   
                    <tr>
                        <td>Descoberto!-Explorador</td>
                        <td>Termine o jogo no modo Explorador</td>
                        <td>10</td>
                        <td>OK</td>
                    </tr>                    
                    <tr>
                        <td>Descoberto!-Leve</td>
                        <td>Termine o jogo no modo Leve</td>
                        <td>10</td>
                        <td>OK</td>
                    </tr>                    
                    <tr>
                        <td>Descoberto!-Moderado</td>
                        <td>Termine o jogo no modo Moderado</td>
                        <td>15</td>
                        <td>OK</td>
                    </tr>                   
                    <tr>
                        <td>Descoberto!-Demolidor</td>
                        <td>Termine o jogo no modo Demolidor</td>
                        <td>25</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Descoberto!-Speed Run</td>
                        <td>Termine o jogo em até 6 horas</td>
                        <td>20</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Primeiro tesouro</td>
                        <td>Encontre um tesouro</td>
                        <td>5</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Caçador de tesouros</td>
                        <td>Encontre 50 tesouros</td>
                        <td>10</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Mestre dos tesouros</td>
                        <td>Encontre todos os tesouros</td>
                        <td>15</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Caçador de relíquias</td>
                        <td>Encontre as relíquias estranhas</td>
                        <td>15</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Anota isso</td>
                        <td>Encontre um registro do diário</td>
                        <td>5</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Diário completo</td>
                        <td>Encontre todos os registros do diário</td>
                        <td>10</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Tome nota</td>
                        <td>Encontre uma nota do diário</td>
                        <td>5</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>História perdida</td>
                        <td>Encontre todas as notas do diário</td>
                        <td>20</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Cabeça da turma!</td>
                        <td>Derrote 20 inimigos com tiros na cabeça</td>
                        <td>5</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Você sabe usar a cabeça</td>
                        <td>Derrote 50 inimigos com tiros na cabeça</td>
                        <td>10</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Pendurado e preciso</td>
                        <td>Dê 20 tiros na cabeça enquanto estiver numa corda</td>
                        <td>20</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Furtividade primeiro, perguntas depois</td>
                        <td>Elimine 5 inimigos de maneira furtiva</td>
                        <td>5</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Shh... hora de dormir</td>
                        <td>Elimine 30 inimigos de maneira furtiva</td>
                        <td>10</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Acho que ouvi alguma coisa</td>
                        <td>Realize 30 eliminações furtivas verticais</td>
                        <td>20</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Correr e atirar</td>
                        <td>Derrote 50 inimigos atirando sem mirar ou sem olhar</td>
                        <td>15</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Pular carniça</td>
                        <td>Derrote 10 inimigos em sequência, alternando entre usar armas e corpo a corpo</td>
                        <td>20</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Imbatível!</td>
                        <td>Derrote 100 inimigos em sequência sem morrer em combate</td>
                        <td>15</td>
                        <td>OK</td>
                    </tr>
                </tbody>
            </table>
              </div>
          </div>
      </div>
      </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->